input[type='submit'],
button,
[aria-label] {
    cursor: pointer;
}



th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #e0e0e0;
}
a {
    color: blue;
    text-decoration: none;
}

